<?xml version="1.0" encoding="utf-8"?>
<Config>
<!--是否显示错误信息，true显示,false不显示-->
<ShowErrors>true</ShowErrors>
<CookieDomain></CookieDomain>
<IsDebug>true</IsDebug>
<Theme>default</Theme>
  <!--日志-->
  <Log>
    <!--日志存放的路径，可以是绝对路径，也可以是相对路径-->
    <LogPath>Log</LogPath>
    <!--单位M，每个文件大小限制-->
    <LogFileMaxSize>5</LogFileMaxSize>    
  </Log>
  <!--数据库-->
  <DataBase>
    <DriverName>mysql</DriverName>
    <DataSourceName></DataSourceName>
  </DataBase>
  <!--静态目录-->
  <StaticDir>
    <Dir>Static/</Dir>
  </StaticDir>
  <!--静态文件,用来对单个静态文件进行配置-->
  <StaticFile>
    <File url="index.htm" filePath="index.htm"/><!--url为地址中的url路径，filePath为对应的文件存放的位置-->
  </StaticFile>
  <Session>
    <SessionType>1</SessionType><!--1,文件,2内存,3数据库,修改需重启才能生效-->
    <SessionLocation></SessionLocation><!--Session文件存放位置，为1时才有效-->
    <SessionTimeOut>35</SessionTimeOut><!--Session超时时间，单位分钟-->
  </Session>
  <MemFreeInterval>300</MemFreeInterval><!--单位，秒-->
	
  <ListenPort>6080</ListenPort><!--Http监听的端口号，该配置改后必须重启程序才能生效-->
</Config>